<div class="navbar navbar-fixed-top" id="top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
        <span class="icon-bar"></span> 
      </a>
      <a href="/" class="brand"><%= 'Security checkpoint' %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <%= yield :menu_extras %>
          <% if logged_in? %>
            <% if current_account.admin? %>
              <li><a href="/admin/users">View users</a></li>
            <% end %>
            <li class="pull-right"><a href="/logout">Log out</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="lower-header">
  <div class="container">
    <%= yield :page_header %>
  </div>
</div>
